*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    text-transform: capitalize;
}
h3{
    font-size: 180px;
    text-align: center;
    justify-content: center;
    margin-top: 15%;
    font-weight: 200;
    text-transform: uppercase;
    width: 100%;

}